@import 'variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

body.index, body.pamplona {
    overflow: hidden;
    margin: 0;
}
#main{
    margin-top: 56px;
}
#map {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: calc(100vh - 56px);
    width: 100%;
  }


section {
    padding-top: 24px;
}
svg {
    vertical-align: baseline;
}